{% extends "base.html" %}
{% block content %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Today</th>
        <th scope="col">This Week</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Push Ups</th>
        <td>{{num_pushups_today}}</td>
        <td>{{num_pushups_this_week}}</td>
    </tr>
    <tr>
        <th scope="row">Pull Ups</th>
        <td>{{num_pullups_today}}</td>
        <td>{{num_pullups_this_week}}</td>
    </tr>
    </tbody>
</table>
{% endblock %}